<div class="jumbotron text-center">
  <div class="container">
    <h1><img src="img/AngularJS-Shield-small.png" alt="Angular"> JOIN</h1>
    <p>
      Simple, fast, and powerful RDBMS functionality on your JavaScript arrays.
    </p>
    <p>
      <a class="btn btn-default btn-lg" href="//github.com/atavakoli/angular-join">
        <img src="img/GitHub-Mark-32px.png" height="18"> View on GitHub
      </a>
      <a class="btn btn-default btn-lg"
         href="//github.com/atavakoli/angular-join/archive/0.2.0.zip">
        <span class="glyphicon glyphicon-download-alt"></span> Download ZIP
      </a>
      <a class="btn btn-default btn-lg"
         href="//github.com/atavakoli/angular-join/archive/0.2.0.tar.gz">
        <span class="glyphicon glyphicon-download-alt"></span> Download tar.gz
      </a>
    </p>
  </div>
</div>

<div class="container">
  <h1>Installation</h1>

  <p>If you're using <a href="//bower.io">Bower</a>:</p>
  <div hljs include="'intro/install'" language="bash"></div>
  <p>
    Otherwise, go to the
    <a href="//github.com/atavakoli/angular-join">GitHub project</a>
    or use one of the download links above.
  </p>

  <h1>Setup</h1>

  <p>Angular JOIN does not require any dependencies beside Angular itself.</p>

  <ol>
    <li>
      <p>Include the <code>angular-join.js</code> script in your HTML:</p>
      <div hljs source="setup1" language="html"></div>
    </li>

    <li>
      <p>Add <code>'angular-join'</code> as a dependency in your Angular app:</p>
      <div hljs include="'intro/setup2'" language="js"></div>
    </li>

    <li>
      <p>
        Inject <code>'Join'</code> in your Angular modules as needed.
        For example:
      </p>
      <div hljs include="'intro/setup3'" language="js"></div>
    </li>
  </ol>

  <h1>Next Steps</h1>

  <p>
    See <a href="#/usage">Usage</a> for the API documentation, or head straight
    to <a href="#/join">Join</a>, <a href="#/groupby">Group By</a>,
    or <a href="#/fluent">Fluent API</a> demos to see it in action.
  </p>

</div>

<script id="intro/install" type="text/ng-template">
bower install angular-join --save
</script>

<script id="intro/setup2" type="text/ng-template">
angular.module('myApp', ['angular-join']);
</script>

<script id="intro/setup3" type="text/ng-template">
angular.module('myApp')
.controller('MyCtrl', ['$scope', 'Join', function($scope, Join) {
  // Use the Join service
}]);
</script>
