<div class="container">
  <div class="row" ng-repeat-start="demo in demos">
    <h2>{{demo.name}}</h2>
    <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{active: demo.showing == 'table'}">
        <a ng-click="demo.showing = 'table'">Results (Tables)</a>
      </li>
      <li role="presentation" ng-class="{active: demo.showing == 'json'}">
        <a ng-click="demo.showing = 'json'">Results (JSON)</a>
      </li>
      <li role="presentation" ng-class="{active: demo.showing == 'code'}">
        <a ng-click="demo.showing = 'code'">Code</a>
      </li>
    </ul>
  </div>

  <div class="row" ng-if="demo.showing == 'table'">
    <div class="col-md-3">
      <h3>Left Array</h3>
      <array-table data="demo.left" fields="demo.inFields"
                   on-change="updateDemo(demo)">
      </array-table>
    </div>
    <div class="col-md-3">
      <h3>Right Array</h3>
      <array-table data="demo.right" fields="demo.inFields"
                   on-change="updateDemo(demo)">
      </array-table>
    </div>
    <div class="col-md-6">
      <h3>
        Joined
        <div class="btn-group btn-group-xs pull-right" role="group">
          <button ng-repeat="(key, result) in demo.results"
                  type="button" class="btn btn-default"
                  ng-class="{active: demo.result == key}"
                  ng-click="demo.result = key">
            {{key}}-join
          </button>
        </div>
      </h3>
      <array-table data="demo.results[demo.result]" fields="demo.outFields" readonly>
      </array-table>
    </div>
  </div>

  <div class="row" ng-if="demo.showing == 'json'">
    <div class="col-md-3">
      <h3>Left Array</h3>
      <div hljs source="demo.left | json"></div>
    </div>
    <div class="col-md-3">
      <h3>Right Array</h3>
      <div hljs source="demo.right | json"></div>
    </div>
    <div class="col-md-6">
      <h3>
        Joined
        <div class="btn-group btn-group-xs pull-right" role="group">
          <button ng-repeat="(key, result) in demo.results"
                  type="button" class="btn btn-default"
                  ng-class="{active: demo.result == key}"
                  ng-click="demo.result = key">
            {{key}}-join
          </button>
        </div>
      </h3>
      <div hljs source="demo.results[demo.result] | json"></div>
    </div>
  </div>

  <div class="row" ng-repeat-end ng-if="demo.showing == 'code'">
    <div class="col-md-6">
      <h3>Hash Join</h3>
      <div hljs source="demo.code.hash"></div>
    </div>
    <div class="col-md-6">
      <h3>Merge Join</h3>
      <div hljs source="demo.code.merge"></div>
    </div>
  </div>
</div>
