<!DOCTYPE html>
<html ng-app="angularJoinDemo">

  <head lang="en">
    <meta charset="utf-8" />
    <title>Custom Plunker</title>
    <script src="vendor/moment/moment.js"></script>
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="vendor/d3/d3.min.js"></script>
    <script src="vendor/c3/c3.min.js"></script>
    <script src="vendor/angular-c3-directive/angular-c3.js"></script>
    <script src="vendor/angular-join/angular-join.js"></script>
    <script src="app.js"></script>
    <script src="controllers/nav.js"></script>
    <script src="controllers/join-demo.js"></script>
    <script src="controllers/groupby-demo.js"></script>
    
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/c3/c3.min.css">
    <link rel="stylesheet" href="app.css">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="collapsed = !collapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">angular-join</a>
        </div>
        <div class="navbar-collapse" collapse="collapsed">
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>Angular JOIN</h1>
        <p>
          Simple, fast, and powerful RDBMS functionality on your JavaScript arrays.
        </p>
      </div>
    </div>

    <div class="container" ng-controller="JoinDemoCtrl">
      <div class="row" ng-repeat-start="demo in demos">
        <h2>{{demo.name}}</h2>
        <div class="col-md-6">
          <h3>Left Table</h3>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th ng-repeat="field in demo.inFields">{{field}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in demo.data1">
                <td ng-repeat="field in demo.inFields">{{row[field]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <h3>Right Table</h3>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th ng-repeat="field in demo.inFields">{{field}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in demo.data2">
                <td ng-repeat="field in demo.inFields">{{row[field]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" ng-repeat-end>
        <div class="col-md-12">
          <h3>Joined</h3>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th ng-repeat="field in demo.outFields">{{field}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in demo.results.merge">
                <td ng-repeat="field in demo.outFields">{{row[field]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>

</html>

