<p>
  This function implements a version of the
  <a href="//en.wikipedia.org/wiki/Hash_join">Hash Join</a> algorithm.
  It is appropriate when the source arrays are small and unsorted, and if
  the resulting array does not need to be returned in any particular order.
  For large sorted arrays, <code>mergeJoin</code> is much more efficient.
</p>

<div hljs language="js">Join.hashJoin(left, right, hashFcn, callback)</div>

<h4>Arguments</h4>
<table class="table">
  <tbody>
    <tr>
      <td><code>left</code></td>
      <td><span class="label label-warning">array</span></td>
      <td>
        The lefthand array in the join operation.
      </td>
    </tr>
    <tr>
      <td><code>right</code></td>
      <td><span class="label label-warning">array</span></td>
      <td>
        The righthand array in the join operation.
      </td>
    </tr>
    <tr>
      <td><code>hashFcn</code></td>
      <td><span class="label label-success">function</span></td>
      <td>
        <p>
          Function executed as <code>hashFcn(e)</code>, where <code>e</code> is
          an element of <code>left</code> or <code>right</code>, and returning
          a number or string. Values of <code>e</code> for which
          <code>hashFcn(e)</code> returns the same value are considered equal
          and will be joined as specified by the <code>callback</code> function.
        </p>
        <p>
          Returning the same value for all inputs can be used to implement
          cross/cartesian joins (though a nested pair of for-loops may be
          more efficient).
        </p>
      </td>
    </tr>
    <tr>
      <td><code>callback</code></td>
      <td><span class="label label-success">function</span></td>
      <td>
        <p>
          Function executed as <code>callback(e1, e2)</code>, where
          <code>e1</code> and <code>e2</code> are elements of <code>left</code>
          and <code>right</code>, respectively (or <code>null</code>; see
          below). If the returned value is not falsy, it is added to the array
          returned by <code>hashJoin</code>.
        </p>
        <p>
          For each pair of <code>e1</code> and <code>e2</code> where
          <code>hashFcn(e1) == hashFcn(e2)</code>, <code>callback(e1, e2)</code>
          is called once per pair. Returning a value only when neither
          <code>e1</code> or <code>e2</code> are null can be used to implement
          inner joins.
        </p>
        <p>
          For each <code>e1</code> where there is no matching <code>e2</code>,
          <code>callback(e1, null)</code> is called once. Correspondingly,
          for each <code>e2</code> where there is no matching <code>e1</code>,
          <code>callback(null, e2)</code> is called once. Returning a value
          in these cases can be used to implement left/right/full outer joins.
        </p>
        <p>
          Returning a value when <em>only</em> one of <code>e1</code> or
          <code>e2</code> is non-null can be used to implement left/right
          anti-joins.
        </p>
      </td>
    </tr>
  </tbody>
</table>

<h4>Returns</h4>
<table class="table">
  <tbody>
    <tr>
      <td><span class="label label-warning">array</span></td>
      <td>
        The join of <code>left</code> and <code>right</code>: for each call to
        <code>callback(left[m], right[n])</code> returning a non-falsey value,
        that element is added to the returned array.
      </td>
    </tr>
  </tbody>
</table>
