<div hljs language="sql">SELECT ...
  FROM ...
  [INNER|LEFT|RIGHT|FULL OUTER|CROSS] JOIN ... USING (...) /* THIS PART */
</div>

<p>
  Joins the query result to another array using a version of the
  <a href="//en.wikipedia.org/wiki/Sort-merge_join">Sort-Merge Join</a> algorithm.
</p>
<p>
  It is much more efficient than <code>hashJoin</code> when the source arrays
  already sorted (see <code>options.sorted</code> below).
</p>

<h3>Syntax</h3>
<div hljs language="js">query
  .mergeJoin(right, comparator, callback[, options])
</div>

<h3>Arguments</h3>
<table class="table">
  <tbody>
    <tr>
      <td><code>right</code></td>
      <td><span class="label label-warning">array</span></td>
      <td>
        The righthand array in the join operation.
      </td>
    </tr>
    <tr>
      <td><code>comparator</code></td>
      <td>
        <p><span class="label label-success">function</span></p>
        <p><span class="label label-primary">string</span></p>
        <p><span class="label label-warning">array</span></p>
      </td>
      <td>
        <p>
          Function executed as <code>comparator(e1, e2)</code>, where
          <code>e1</code> and <code>e2</code> are elements of the current query
          result (the "left" array) and <code>right</code>, respectively, and
          has the same spec as
          <a href="//developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort">
            compareFunction in Array.prototype.sort()
          </a>.
          If <code>comparator(e1, e2) === 0</code>, then <code>e1</code>
          and <code>e2</code> are considered equal and will be joined as
          specified by the <code>callback</code> function.
        </p>
        <p>
          Returning <code>0</code> for all inputs can be used to implement
          cross/cartesian joins.
        </p>
        <p>
          If a string is passed in, then the query elements are sorted by that
          property in ascending order. If the property itself is a string, then
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/localeCompare">
            String.prototype.localeCompare()
          </a>
          is used to sort the query results; if the property is an object with a
          <code>diff()</code> function, then this function is expected to have
          the same spec as the callback in
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort">
            Array.prototype.sort()
          </a>,
          and it is used to sort the query results. Otherwise, the properties
          are converted to numbers and used for sorting.
        </p>
        <p>
          If an array of property names is passed in, then the query elements
          are sorted in ascending order by each property in sequence, following
          the same logic on each property as described above.
        </p>
      </td>
    </tr>
    <tr>
      <td><code>callback</code></td>
      <td><span class="label label-success">function</span></td>
      <td>
        <p>
          Function executed as <code>callback(e1, e2)</code>, where
          <code>e1</code> and <code>e2</code> are elements of the current query
          result (the "left" array) and <code>right</code>, respectively (or
          <code>null</code>; see below). If the returned value is truthy, it is
          added to the query result.
        </p>
        <p>
          For each equivalent pair of <code>e1</code> and <code>e2</code>,
          <code>callback(e1, e2)</code> is called once per pair. Returning a
          value only when neither <code>e1</code> or <code>e2</code> are null
          can be used to implement inner joins.
        </p>
        <p>
          For each <code>e1</code> where there is no matching <code>e2</code>,
          <code>callback(e1, null)</code> is called once. Correspondingly,
          for each <code>e2</code> where there is no matching <code>e1</code>,
          <code>callback(null, e2)</code> is called once. Returning a value
          in these cases can be used to implement left/right/full outer joins.
        </p>
        <p>
          Returning a value when <em>only</em> one of <code>e1</code> or
          <code>e2</code> is non-null can be used to implement left/right
          anti-joins.
        </p>
      </td>
    </tr>
    <tr>
      <td><code>options</code></td>
      <td><span class="label label-default">object</span></td>
      <td>
        <p><em>Optional</em></p>
        Object containing the following properties:
        <ul>
          <li>
            <code>sorted</code>
            <span class="label label-primary">boolean</span> :
            If <code>true</code>, this signifies that both input arrays are
            already sorted according to <code>comparator</code>. This provides
            a significant performance boost. Default is <code>false</code>.
          </li>
          <li>
            <code>localeCompare</code>
            <span class="label label-primary">boolean</span> :
            If <code>true</code>, this signifies that strings should be sorted
            using the <code>localeCompare</code> function. If <code>false</code>,
            strings are sorted according to each character's Unicode code point
            value. This parameter is only used if <code>comparator</code> is a
            string or an array of property names.  Setting this parameter to
            <code>true</code> results in  generally slower sorts for string
            properties, but may be necessary if the properties are
            locale-sensitive. Default is <code>false</code>.
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<h3>Returns</h3>
<table class="table">
  <tbody>
    <tr>
      <td><span class="label label-danger">query</span></td>
      <td>
        A query object whose result is the join of the previous query result
        (the "left" array) and <code>right</code>: for each call to
        <code>callback(left[m], right[n])</code> returning a truthy value,
        that element is added to the query result.
      </td>
    </tr>
  </tbody>
</table>
