<div hljs language="sql">SELECT ... /* AGGREGATE FUNCTIONS */
  FROM ...
  ...
  GROUP BY ... /* THIS PART */
</div>

<p>
  Reduces query result elements that are equal into single elements. Group
  membership is defined by the <code>comparator</code> function, where equal
  elements (i.e. where <code>comparator(e1, e2) === 0</code>) belong to the
  same group.
</p>
<p>
  The result is similar to partitioning the query elements into sub-arrays of
  elements that are equal (according to <code>comparator</code>), calling 
  <a href="//developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/reduce">
    Array.prototype.reduce()
  </a>,
  on each, and returning an array of each returned value.
</p>

<h3>Syntax</h3>
<div hljs language="js">query
  .sortGroupBy(comparator, callback[, options])
</div>

<h3>Arguments</h3>
<table class="table">
  <tbody>
    <tr>
      <td><code>comparator</code></td>
      <td>
        <p><span class="label label-success">function</span></p>
        <p><span class="label label-primary">string</span></p>
        <p><span class="label label-warning">array</span></p>
      </td>
      <td>
        <p>
          Function executed as <code>comparator(e1, e2)</code>, where
          <code>e1</code> and <code>e2</code> are elements of the current query
          result. This function has the same spec as
          <a href="//developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort">
            compareFunction in Array.prototype.sort()
          </a>.
          If <code>comparator(e1, e2) === 0</code>, then <code>e1</code>
          and <code>e2</code> are considered to be in the same group.
        </p>
        <p>
          If a string is passed in, then the query elements are sorted by that
          property in ascending order. If the property itself is a string, then
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/localeCompare">
            String.prototype.localeCompare()
          </a>
          is used to sort the query results; if the property is an object with a
          <code>diff()</code> function, then this function is expected to have
          the same spec as the callback in
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort">
            Array.prototype.sort()
          </a>,
          and it is used to sort the query results. Otherwise, the properties
          are converted to numbers and used for sorting.
        </p>
        <p>
          If an array of property names is passed in, then the query elements
          are sorted in ascending order by each property in sequence, following
          the same logic on each property as described above.
        </p>
      </td>
    </tr>
    <tr>
      <td><code>callback</code></td>
      <td><span class="label label-success">function</span></td>
      <td>
        <p>
          Function executed as <code>callback(previousValue, e)</code>, where
          <code>e</code> is an element of the current query result and
          <code>previousValue</code> is the last value returned by
          <code>callback</code> for the group to which <code>e</code> belongs.
          On the first call for a particular group, then
          <code>previousValue === null</code>. The last value returned for each
          group is the one included for that group in the query result array.
        </p>
        <p>
          This function must always return a value.
        </p>
      </td>
    </tr>
    <tr>
      <td><code>options</code></td>
      <td><span class="label label-default">object</span></td>
      <td>
        <p><em>Optional</em></p>
        Object containing the following properties:
        <ul>
          <li>
            <code>sorted</code>
            <span class="label label-primary">boolean</span> :
            If <code>true</code>, this signifies that both input arrays are
            already sorted according to <code>comparator</code>. This provides
            a significant performance boost. Default is <code>false</code>.
          </li>
          <li>
            <code>localeCompare</code>
            <span class="label label-primary">boolean</span> :
            If <code>true</code>, this signifies that strings should be sorted
            using the <code>localeCompare</code> function. If <code>false</code>,
            strings are sorted according to each character's Unicode code point
            value. This parameter is only used if <code>comparator</code> is a
            string or an array of property names.  Setting this parameter to
            <code>true</code> results in  generally slower sorts for string
            properties, but may be necessary if the properties are
            locale-sensitive. Default is <code>false</code>.
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<h3>Returns</h3>
<table class="table">
  <tbody>
    <tr>
      <td><span class="label label-danger">query</span></td>
      <td>
        <p>
          A query object whose result has one element per group (as defined by
          <code>comparator</code>), where that element is the last value
          returned by <code>callback</code> for that group.
        </p>
      </td>
    </tr>
  </tbody>
</table>
